.projects-container {
  background-color: #000000; /* Black background */
  padding: 60px 20px;
  color: #ffffff;
}

.project-card {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.project-card:hover {
  transform: translateY(-10px);
}

.project-card img {
  border-radius: 10px;
  border: 4px solid #ff00ff; /* Neon purple border */
}

.technologies span {
  background-color: #333;
  padding: 5px 10px;
  border-radius: 15px;
  margin-right: 5px;
  display: flex;
  align-items: center;
}

a {
  transition: color 0.3s, background 0.3s;
  text-decoration: none; /* Remove underline for links */
}

a:hover {
  color: #ffffff; /* White text on hover */
  background: #9900ff; /* Darker purple background on hover */
}

/* Button Styling */
.project-card .flex a {
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
}

.project-card .flex a:first-child {
  background-color: #ff00ff; /* Neon purple for 'View Project' */
  color: #ffffff;
}

.project-card .flex a:first-child:hover {
  background-color: #9900ff; /* Darker purple on hover */
  color: #ffffff;
}

.project-card .flex a:last-child {
  background-color: #444444; /* Grey for 'GitHub Repo' */
  color: #ffffff;
}

.project-card .flex a:last-child:hover {
  background-color: #333333; /* Darker grey on hover */
  color: #ffffff;
}

.text-gradient {
  background: linear-gradient(45deg, #ff00ff, #9900ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
