.dashboard-container {
  display: flex;
  flex-direction: row;
  background-color: #F8F5F3;
}
.dashboard-content {
  flex-grow: 1;
  padding: 2rem;
}
.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.user-info .avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}
.charts-and-tables {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.5rem;
}
.chart-item {
  padding: 1rem;
  flex-basis: 100%;
  max-width: 100%;
}
@media (min-width: 768px) {
  .chart-item {
    flex-basis: 50%;
    max-width: 50%;
  }
}
.additional-info {
  /* display: flex;
  flex-wrap: wrap; */
  margin-top: 1.5rem;
}
.info-item {
  padding: 1rem;
  /* flex-basis: 100%; */
  max-width: 100%;
}
@media (min-width: 768px) {
  .info-item {
    flex-basis: 50%;
    max-width: 60%;
  }
}
