*{
  margin: 0%;
  padding: 0%;
}
.main-container{
    background-color: #f8ad42;
}
.logout-btn{
    background-color: #F8F5F3;
    color: black;
    font-weight: bold;
    padding-left: 2%;
}
.logo {
    max-width: 200px; /* Adjust the size as needed */
    max-height: 180px;
  }
  
  .active-link {
    background-color: white;
    color: black;
  }
  