*{
    margin: 0%;
    padding: 0%;
}
.business{
    margin: 20px;
    padding: 80px;
}
.busniess-head{
    margin-bottom: 10px;
    border-left: 2px solid red;
}
.busniess-par{
  
    width: 70%;
}
.bus-img{
    height: 500px;
    padding-right: 88px;
}
.bus-btn{
    margin-left: 10px;
    margin-top: 40px;
    padding: 10px;
    border-radius: 20px;
    width: 130px;
    font-size: 17px;
    background-color: #F8AD42;
    border: none;
}